#about_me {
  position: relative;
  height: 46.8vw;
}

.about-wrap {
  position: relative;
}

#about_me h1 {
  width: 22vw;
  padding-top: 1vw;
  margin: auto;
}

#about_me h1 img {
  width: 100%;
}

#about_me .bg-img {
  position: relative;
}

#about_me .bg-img img {
  opacity: 0;
  transition: 0.35s;
  position: absolute;
  top: 0;
}

#about_me .bg-img img.on {
  opacity: 1;
}

#about_me h2 {
  color: var(--main-color-blue);
  font-size: 3.2vw;
  line-height: 4vw;
}

#about_me h3 {
  color: var(--black400);
  font-size: 1.6vw;
  line-height: 3vw;
}

#about_me p {
  color: var(--black200);
  font-size: 1vw;
  line-height: 2vw;
}

#about_me .swiper {
  width: 40vw;
  height: 15vw;
  position: absolute;
  top: 9vw;
  left: 38vw;
  cursor: grab;
}

#about_me .swiper-slide {
  text-align: left;
  font-size: 18px;
}

#about_me .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about_me .text-box-img {
  width: 23vw;
  position: absolute;
  left: 10vw;
  top: 5vw;
}

#about_me .text-box-img > div {
  display: none;
  position: relative;
}

#about_me .text-box-img > div.on {
  display: block;
}

#about_me .text-box-img > div .text {
  position: absolute;
  top: 0;
  left: 3vw;
  padding: 1vw;
  animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#about_me .text-box-img > div .text img.juhee {
  width: 15vw;
  border-radius: 1vw;
}

#about_me .text-box-img > div .text p {
  line-height: 2vw;
  font-size: 1.1vw;
}

#about_me .text-box-img > div .text span.span-text {
  color: var(--black200);
  font-size: 0.8vw;
  font-family: var(--mainKor-font);
  display: block;
  line-height: 1.5vw;
}

#about_me .gengo {
  position: absolute;
  width: 12vw;
  left: 15%;
  top: 100%;
}

#about_me .text-box-img > div .text.no-padding {
  padding: 4.5vw 0;
  width: 22vw;
  margin-left: -2vw;
  text-align: right;
}

#about_me .text-box-img > div .text .text-text h3 {
  font-size: 1vw;
}

#about_me .text-box-img > div .text .text-text p {
  font-size: 0.8vw;
}

#about_me .text-box-img > div .text img.computer {
  width: 10vw;
  margin-left: 2vw;
}

.skill-box {
  width: 25vw;
  margin-left: -3.8vw;
  text-align: center;
}

.skill-box div {
  margin-top: 1.5vw;
}

.skill-box ul {
  margin-left: 2vw;
  margin-bottom: 0.5vw;
}

.skill-box li {
  width: 3.2vw;
  margin: 0.2vw;
}

.skill-box li img {
  height: 3vw;
}

.figma {
  height: 3vw;
  width: 2.2vw;
  margin-left: 0.3vw;
}

.skill-box span {
  color: var(--black200);
  font-size: 0.8vw;
  font-family: var(--mainKor-font);
  line-height: 1vw;
}

.skill-box .click-skill a {
  display: block;
  position: absolute;
  width: 90%;
  height: 13vw;
}

.skill-box .click-skill a:hover {
  color: black;
}

.click h3 {
  margin-left: 3vw;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.mySwiper5 {
  cursor: pointer;
}

/* arrow */
.arrow {
  position: absolute;
  left: 48%;
  margin-top: 23vw;
  z-index: 10;
  width: 1.5vw;
  animation: arrow-ani 1.2s linear infinite;
}

.arrow div:nth-child(2) {
  margin-top: -1vw;
}

.arrow div:nth-child(3) {
  margin-top: -1vw;
}

@keyframes arrow-ani {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 5%;
    opacity: 1;
  }
}

/* modal */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 10;
}

.modal.on {
  display: block;
}

.modal-box {
  position: absolute;
  top: 20%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  width: 50vw;
  height: 30vw;
  background-color: var(--main-color-blue);
  color: white;
  z-index: 11;
  padding: 4vw 7vw;
  border-radius: 3vw;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modal-box::after {
  content: "";
  background-image: url(../../img/ready.png);
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: -3.5vw;
  right: -1.5vw;
  width: 10vw;
  height: 3vw;
  animation: wobble-hor-bottom 1s 3s both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.modal-box .contact h3 {
  font-size: 3vw;
}

.modal-box .contact h3:nth-child(1) {
  font-size: 0.9vw;
}

.modal-box .contact ul {
  margin-top: 1vw;
  margin-left: -1vw;
  display: flex;
  justify-content: space-between;
}

.modal-box .contact p {
  margin-top: 1vw;
  line-height: 1.5vw;
  font-size: 1vw;
  font-family: var(--mainKor-font);
}

.modal-box .contact ul li {
  display: flex;
  align-items: center;
  font-size: 0.7vw;
  margin: 0.5vw 0 0;
}

.modal-box .contact p b {
  position: relative;
}

.modal-box .contact p b::after {
  content: "";
  background-image: url(../../img/grow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.5vw;
  height: 2vw;
  position: absolute;
  left: -0.2vw;
  bottom: 1.2vw;
  animation: jello-horizontal 1.5s infinite both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.modal-box .contact ul li img {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1vw;
}

.modal-box .contact ul li:nth-child(1) img {
  width: 1.2vw;
  height: 1.2vw;
}

.up-img {
  position: absolute;
  left: 6.5vw;
  top: 4vw;
  width: 8vw;
  z-index: 0;
  cursor: pointer;
}
.up-img:hover img{
transform: scale(1.5);
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.up-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 9vw;
  border-radius: 1vw;
  transition: .4s;
}
.up-img:hover img{
  transform: scale(2.7);
  }

.close {
  width: 3vw;
  padding: 0.3vw 0.2vw;
  font-size: 1vw;
  line-height: 1.2vw;
  text-align: center;
  position: absolute;
  bottom: 1vw;
  left: 45%;
  border-radius: 0.5vw;
  color: var(--main-color-blue);
  background-color: var(--white);
}

.close:hover {
  color: var(--black400);
}

.skill-list {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
  z-index: 99;
}

.skill-list .lego-group {
  display: none;
  position: absolute;
  bottom: 0;
}

.lego-group.on {
  display: block;
  animation: bounce-in-top 1.3s both;
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-100px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-40px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.skill-list.on {
  display: block;
}

.skill-list.on .skill-img {
  left: 25%;
  bottom: 20%;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.skill-list.on .skill-img img {
  border-radius: 1vw;
  border: 3px dashed var(--black300);
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.skill-list .skill-img {
  position: absolute;
  width: 45vw;
  left: 30%;
  top: 10%;
  z-index: 99;
}

.skill-list .skill-img a {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 1vw;
}

@media screen and (max-width: 960px) {
  #about_me {
    height: 75vw;
  }

  #about_me h1 {
    width: 40vw;
  }

  #about_me .bg-img {
    position: relative;
    margin-top: 26vw;
  }

  #about_me h2 {
    font-size: 6vw;
    line-height: 7vw;
    height: 8vw;
  }

  #about_me h3 {
    font-size: 3vw;
    line-height: 5vw;
  }

  #about_me p {
    font-size: 2vw;
    line-height: 4vw;
  }
  #about_me .text p {
    margin-bottom: -1vw;
  }
  .skill-box span:nth-child(3) a {
    font-size: 1.4vw;
  }
  .skill-box span:nth-child(6),
  .skill-box span:nth-child(7) {
    font-size: 1.4vw;
  }
  #about_me .text-box-img > div .text.no-padding {
    width: 33vw;
  }
  #about_me .text-box-img > div .text.no-padding .text-text {
    width: 16vw;
  }
  #about_me .text-box-img > div .text.no-padding .text-text h3 {
    font-size: 1.5vw;
  }
  #about_me .text-box-img > div .text.no-padding .text-text p {
    font-size: 1.2vw;
  }
  #about_me .text-box-img > div .text.no-padding img {
    width: 14.5vw;
  }
  #about_me .text-box-img > div .text {
    margin-left: -2vw;
  }
  #about_me .text-box-img > div .text span.span-text {
    width: 30vw;
    font-size: 1.5vw;
    margin-top: 1vw;
    text-align: left;
    margin-left: 2.3vw;
  }
  #about_me .text-box-img > div .text .gengo {
    top: 19vw;
    margin-left: 5vw;
    width: 15vw;
  }
  #about_me .text-box-img > div .text img.juhee {
    width: 22vw;
    border-radius: 1vw;
  }
  #about_me .text-box-img > div .text {
    text-align: center;
    margin-left: -3vw;
  }
  #about_me .text-box-img > div .text p {
    margin-top: 0.5vw;
  }
  #about_me .swiper {
    width: 44vw;
    height: 25vw;
    margin-left: 10vw;
    margin-top: 8vw;
  }

  #about_me .text-box-img {
    width: 34vw;
    left: 10vw;
    top: 15vw;
  }
  #about_me .text-box-img > div .text {
    height: 27vw;
    width: 34vw;
  }
  #about_me .text-box-img > div .text p {
    line-height: 2.5vw;
    font-size: 2vw;
    margin-bottom: 1vw;
  }
  #about_me .text-box-img h3 {
    font-size: 3vw;
  }
  .skill-box div ul li {
    margin-right: 2.7vw;
  }
  .skill-box div ul li img {
    width: 5vw;
    height: 5vw;
  }
  .skill-box div ul:nth-child(2) li:nth-child(2) img {
    width: 4vw;
  }
  .modal-box {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80vw;
    height: 50vw;
    background-color: var(--main-color-blue);
    color: white;
    z-index: 11;
    padding: 5vw;
    border-radius: 3vw;
  }

  .modal-box .contact h3 {
    font-size: 5vw;
  }

  .modal-box .contact p {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .modal-box .contact ul li {
    font-size: 1.5vw;
    margin: 3vw 0;
  }

  .modal-box .contact ul li img {
    width: 3vw;
    height: 3vw;
  }

  .modal-box .contact ul li:nth-child(1) img {
    width: 2.5vw;
    height: 2.5vw;
  }

  .up-img {
    position: absolute;
    top: 5.5vw;
    left: 10vw;
  }

  .up-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 14vw;
  }
  .up-img:hover img{
    transform: scale(2.4);
  }
  .close {
    width: 5vw;
    padding: 0.7vw 0.3vw;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
    position: absolute;
    bottom: 2vw;
    left: 45%;
    border-radius: 0.5vw;
    color: var(--main-color-blue);
    background-color: var(--white);
  }

  .modal-box::after {
    top: -5.5vw;
    right: -1.5vw;
    width: 14vw;
    height: 5vw;
  }

  .modal-box .contact p b::after {
    width: 3.5vw;
    height: 3vw;
    left: 0.8vw;
    bottom: 3vw;
    animation: jello-horizontal 1.5s infinite both;
  }

  .skill-list .skill-img {
    width: 70vw;
  }

  .skill-list.on .skill-img {
    left: 15%;
    top: 20%;
  }

  .skill-list .skill-img a {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    font-size: 2vw;
  }
  .arrow {
    left: 46%;
    margin-top: 43vw;
    width: 3vw;
    animation: arrow-ani 1.2s linear infinite;
}
}
