#keyword {
    height: 28vw;
    padding: 6vw 0 8vw 20vw;
}

#keyword .title_keyword h3 {
    font-size: 1.5vw;
    color: var(--black300);
}

#keyword .text_box {
    font-size: 1.2vw;
    font-family: var(--mainKor-font);
    font-weight: 100;
    padding-top: .5rem;
    color: var(--black200);
}

#keyword .title_keyword h2{
    position: relative;
    display: inline-block;
        font-size: 4.5vw;
    color: var(--main-color-blue);
}

.title_keyword h2::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--main-color-blue);
    right: 0;
    top: 0;
    z-index: 2;
    transition: .5s;
    transition-delay: .35s;
}

.title_keyword h2::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--background-color);
    right: 0;
    top: 0;
    transition: .5s;
    z-index: 3;
}

#keyword .title_keyword h2.active::before {
    width: 0;
}
#keyword .title_keyword h2.active::after {
    width: 0;
}

#keyword .text_box .text, #keyword .text_box .text2{
    position: relative;
    transition: .4s;
    display: none;
}
#keyword .text_box .text.active, #keyword .text_box .text2.active{
    display: inline-block;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}
.keyword2{
margin-left: -19vw;
}
.keyword3{
margin-left: -8vw;
}
.keyword4{
text-align: right;
margin-right: 8vw;
}
