#project {
  position: relative;
  height: 110vw;
  padding: 6vw 13vw 8vw;
}

.project-wrap-all {
  display: flex;
}

.project-wrap1 {
  flex: 1;
}

.project-wrap2 {
  width: 35vw;
  padding: 7vw 8vw;
}

.project-wrap2 h1 {
  width: 24vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

.project-wrap2 h3 {
  text-align: center;
  font-size: 2.5vw;
  width: 26vw;
  color: var(--main-color-blue);
  border: .5vw solid var(--main-color-blue);
  border-radius: 3vw;
}

.project-wrap2 .box {
  position: relative;
  margin-top: 2vw;
  width: 26vw;
  height: 15vw;
  background-color: var(--main-color-yellow);
  border-radius: 2vw;
  padding-top: 5vw;
}

.project-wrap2 .box p {
  color: var(--white);
  text-align: center;
  font-size: 1.8vw;
}

.project-wrap2 .box p:nth-child(1) {
  color: rgba(255, 255, 255, 0.727);
}

#project .swiper {
  width: 38vw;
  height: 24vw;
  position: absolute;
  left: 13%;
}

#project .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}

#project .swiper-slide .text {
  text-align: left;
  padding: 1vw 2vw;
}

#project .swiper-slide .text h3 {
  color: var(--white);
  font-size: 1.5vw;
  margin-top: 1vw;
}

#project .swiper-slide .text p {
  margin-top: 2vw;
  font-size: 1.2vw;
  color: var(--white);
  font-family: var(--mainKor-font);
  line-height: 2vw;
}

#project .swiper-slide .text p b {
  color: var(--main-color-yellow);
}

#project .swiper-slide .text span {
  margin-top: 4vw;
  display: block;
  color: var(--white);
  font-size: 1.5vw;
}

#project .swiper-slide:nth-child(1) .text img {
  position: absolute;
  width: 15vw;
  height: 20vw;
  right: 2vw;
  top: -13vw;
}

#project .swiper-slide:nth-child(2) .text img {
  position: absolute;
  width: 10vw;
  right: 2vw;
  top: -13vw;
  transform: scaleX(-1);
  filter: brightness(1.1);
}

#project .swiper-slide:nth-child(3) .text img {
  position: absolute;
  width: 15vw;
  height: 20vw;
  right: 1vw;
  top: -10vw;
  z-index: -2;
}

#project .swiper-slide img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

#project .text-box {
  display: none;
}

#project .text-box.on {
  display: block;
  animation: slide-in-left .8s;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-6vw);
    opacity: 0;
  }

  90% {
    transform: translateX(0);
    opacity: 1;
  }
}

#project .text-box p {
  color: var(--white);
  font-size: 1.5vw;
  position: relative;
  z-index: 1;
  padding: 1vw;
  line-height: 5.5vw;
  padding-left: 2vw;
}

#project .text-box p::after {
  content: '';
  background-image: url(../../img/project-lego.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vw;
  height: 5vw;
  left: 0;
  position: absolute;
  z-index: -1;
}

#project .text-box h2 {
  color: var(--main-color-blue);
  font-size: 2.5vw;
}

#project .swiper-button-next,
#project .swiper-button-prev {
  position: absolute;
  top: -8vw;
}

#project .swiper-button-prev {
  left: 65vw;
}

#project .swiper-button-next {
  left: 70vw;

}

#project .swiper-button-next:after,
#project .swiper-button-prev:after {
  color: var(--black200);
  font-size: 2vw;
}


@media screen and (max-width:768px) {
  #project {
    height: 220vw;
  }
  
  .project-wrap-all {
    display: flex;
    flex-direction: column;
    height: 100vw;
  }
  
  .project-wrap1 {
   order: 2;
   width: 40vw;
   margin: auto;
  }
  
  .project-wrap2 {
    width: 55vw;
    margin: auto;
  }
  
  .project-wrap2 h1 {
    width: 40vw;
  }
  
  .project-wrap2 h3 {
    text-align: center;
    font-size: 4vw;
    width: 40vw;
  }
  
  .project-wrap2 .box {
    width: 60vw;
    height: 15vw;
    margin-left: -10vw;
  }
  
  .project-wrap2 .box p {
    font-size: 2.8vw;
    margin-top: -1.5vw;
    line-height: 5vw;
  }
  
  #project .swiper {
    width:60vw;
    height: 38vw;
    left: 20vw;
  }

  #project .swiper-slide .text h3 {
    font-size: 3vw;
  }
  
  #project .swiper-slide .text p {
    margin-top: 2vw;
    font-size: 2vw;
    line-height: 3vw;
  }

  #project .swiper-slide .text span {
    margin-top: 8vw;
    font-size: 2.2vw;
  }
  
  #project .swiper-slide:nth-child(1) .text img {
    width: 28vw;
    height: 23vw;
    right: 1vw;
  }
  
  #project .swiper-slide:nth-child(2) .text img {
    width: 17vw;
    top: -18vw;
  }
  
  #project .swiper-slide:nth-child(3) .text img {
    position: absolute;
    width: 20vw;
  }

  #project .text-box{
    margin-left: -8vw;
  }
  #project .text-box p {
    font-size: 3vw;
    line-height: 9vw;
  }
  
  #project .text-box p::after {
    width: 13vw;
    height: 10vw;
    left: -.7vw;
  }
  
  #project .text-box h2 {
    font-size: 4vw;
  }
  
  #project .swiper-button-next,
  #project .swiper-button-prev {
    top: -19vw;
    margin-left: -14vw;
  }
}